[submodule "DiligentCore"]
	path = DiligentCore
	url = https://github.com/realthunder/DiligentCore.git
[submodule "DiligentTools"]
	path = DiligentTools
	url = https://github.com/realthunder/DiligentTools.git
[submodule "DiligentSamples"]
	path = DiligentSamples
	url = https://github.com/realthunder/DiligentSamples.git
[submodule "DiligentFX"]
	path = DiligentFX
	url = https://github.com/realthunder/DiligentFX.git
